.layout {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background: purple;
  display: flex;
  height: 70px;
  align-items: center;
  width: 100%;
}

.item {
  background: cyan;
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.navbar-right {
  display: flex;
  list-style: none;
}

.navbar-left {
  margin-left: 20px;
  padding: 0;
  display: flex;
  list-style: none;
  width: 100%;
}

.navbar-left .item {
  width: 100px;
}

.main {
  display: flex;
  height: 100%;
}

.green {
  width: 30%;
  background: green;
}

.yellow {
  width: 70%;
  background: yellow;
}

p {
  width: 100%;
  font-size: 36px;
  margin: 10px;
}

.inLinePictures {
  padding: 0px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}


.red {
  background: red;
  width: 22%;
  padding-top: 22%;
}

.text-field {
  display: flex;
}

.list {
  padding: 0px;
  list-style: none;
}

.pink {
  width: auto;
  background-color: pink;
  height: 30px;
  margin: 20px;
}

.side-text {
  width: 80%;
  padding: 30px;
  font-size: 26px;
}