body {
  background: linear-gradient(90deg, grey, white, grey);
}

#main {
  display: flex;
  margin-top: 5%;
  justify-content: center;
}

#centerObject {
  width: 60%;
  position: relative;
}

#middleImage {
  width: 100%;
}

button {
  width: 3%;
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.35);
  border: 0px;
  border-radius: 4px;
}

#rightButton {
  transform: rotateY(180deg);
}

#miniImages {
  display: flex;
  justify-content: space-around;
  margin-left: 28%;
  margin-right: 28%;
  margin-top: 2%;
}

.miniImg {
  width: 11%;
  padding: 1rem;
  position: static;
  background: linear-gradient( white, grey);
  padding: 3px;
  border-radius: 3px;
}

#description {
  background: rgba(0, 0, 0, 0.80);
  position: relative;
  padding-left: 20px;
  height: 20%;
}

h2 {
  color: whitesmoke;
}

p {
  color: lightgray;
}